{
  "openapi": "3.0.3",
  "info": {
    "title": "incident.io",
    "description": "This is the API reference for incident.io.\n\nIt documents available API endpoints, provides examples of how to use it, and\ninstructions around things like authentication and error handling.\n\nThe API is hosted at:\n\n- https://api.incident.io/\n\nAnd you will need to create an API key via your [incident.io\ndashboard](https://app.incident.io/settings/api-keys) to make requests.\n\n# Making requests\n\nHere are the key concepts required to make requests to the incident.io API.\n\n## Authentication\n\nFor all requests made to the incident.io API, you'll need an API key.\n\nTo create an API key, head to the incident dashboard and visit [API\nkeys](https://app.incident.io/settings/api-keys). When you create the key,\nyou'll be able to choose what actions it can take for your account: choose\ncarefully, as those roles can only be set when you first create the key. We'll\nonly show you the token once, so make sure you store it somewhere safe.\n\nOnce you have the key, you should make requests to the API that set the\n`Authorization` request header using a \"Bearer\" authentication scheme:\n\n```\nAuthorization: Bearer <YOUR_API_KEY>\n```\n\n## Errors\n\nWe use standard HTTP response codes to indicate the status or failure of API\nrequests.\n\nThe API response body will be JSON, and contain more detailed information on the\nnature of the error.\n\nAn example error when a request is made without an API key:\n\n```json\n{\n  \"type\": \"authentication_error\",\n  \"status\": 401,\n  \"request_id\": \"8e3cc412-b49d-4957-9073-2c19d2c61804\",\n  \"errors\": [\n    {\n      \"code\": \"missing_authorization_material\",\n      \"message\": \"No authorization material provided in request\"\n    }\n  ]\n}\n```\n\nNote that the error:\n\n- Contains the HTTP status (`401`)\n- References the type of error (`authentication_error`)\n- Includes a `request_id` that can be provided to incident.io support to help\n\tdebug questions with your API request\n- Provides a list of individual errors, which go into detail about why the error\n\toccurred\n\nThe most common error will be a 422 Validation Error, which is returned when the\nrequest was rejected due to failing validations.\n\nThese errors look like this:\n\n```json\n{\n  \"type\": \"validation_error\",\n  \"status\": 422,\n  \"request_id\": \"631766c4-4afd-4803-997c-cd700928fa4b\",\n  \"errors\": [\n    {\n      \"code\": \"is_required\",\n      \"message\": \"A severity is required to open an incident\",\n      \"source\": {\n        \"field\": \"severity_id\"\n      }\n    }\n  ]\n}\n```\n\nThis error is caused by not providing a severity identifier, which should be at\nthe `severity_id` field of the request payload. Errors like these can be mapped to\nforms, should you be integrating with the API from a user-interface.\n\n## Compatibility\n\nWe won't make breaking changes to existing API services or endpoints, but will\nexpect integrators to upgrade themselves to the latest API endpoints within 3\nmonths of us deprecating the old service.\n\nWe will make changes that are considered backwards compatible, which include:\n\n- Adding new API endpoints and services\n- Adding new properties to responses from existing API endpoints\n- Reordering properties returned from existing API endpoints\n- Adding optional request parameters to existing API endpoints\n- Altering the format or length of IDs\n- Adding new values to enums\n\nIt is important that clients are robust to these changes, to ensure reliable\nintegrations.\n\nAs an example, if you are generating a client using an openapi-generator, ensure\nthe generated client is configured to support unknown enum values, often\nconfigured via the `enumUnknownDefaultCase` parameter.\n\nWhen breaking changes are unavoidable, we'll create a new service version on a\nseparate path, and run them in parallel.\n\nFor example:\n\n- https://api.incident.io/v1/incidents\n- https://api.incident.io/v2/incidents\n\nFor any questions, email support@incident.io.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.incident.io"
    }
  ],
  "paths": {
    "/v1/actions": {
      "get": {
        "tags": [
          "Actions V1"
        ],
        "summary": "List Actions V1",
        "description": "List all actions for an organisation.",
        "operationId": "Actions V1#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Find actions related to this incident",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Find actions related to this incident",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          {
            "name": "is_follow_up",
            "in": "query",
            "description": "Filter to actions marked as being follow up actions",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "description": "Filter to actions marked as being follow up actions",
              "example": true
            },
            "example": true
          },
          {
            "name": "incident_mode",
            "in": "query",
            "description": "Filter to actions from incidents of the given mode. If not set, only actions from `real` incidents are returned",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Filter to actions from incidents of the given mode. If not set, only actions from `real` incidents are returned",
              "example": "real",
              "enum": [
                "real",
                "test",
                "tutorial"
              ]
            },
            "examples": {
              "default": {
                "summary": "default",
                "value": "real"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody"
                },
                "example": {
                  "actions": [
                    {
                      "assignee": {
                        "email": "lisa@incident.io",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "name": "Lisa Karlin Curtis",
                        "role": "viewer",
                        "slack_user_id": "U02AYNF2XJM"
                      },
                      "completed_at": "2021-08-17T13:28:57.801578Z",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Call the fire brigade",
                      "external_issue_reference": {},
                      "follow_up": true,
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "status": "outstanding",
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "assignee": {
                        "email": "lisa@incident.io",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "name": "Lisa Karlin Curtis",
                        "role": "viewer",
                        "slack_user_id": "U02AYNF2XJM"
                      },
                      "completed_at": "2021-08-17T13:28:57.801578Z",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Call the fire brigade",
                      "external_issue_reference": {},
                      "follow_up": true,
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "status": "outstanding",
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "assignee": {
                        "email": "lisa@incident.io",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "name": "Lisa Karlin Curtis",
                        "role": "viewer",
                        "slack_user_id": "U02AYNF2XJM"
                      },
                      "completed_at": "2021-08-17T13:28:57.801578Z",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Call the fire brigade",
                      "external_issue_reference": {},
                      "follow_up": true,
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "status": "outstanding",
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "assignee": {
                        "email": "lisa@incident.io",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "name": "Lisa Karlin Curtis",
                        "role": "viewer",
                        "slack_user_id": "U02AYNF2XJM"
                      },
                      "completed_at": "2021-08-17T13:28:57.801578Z",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Call the fire brigade",
                      "external_issue_reference": {},
                      "follow_up": true,
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "status": "outstanding",
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/actions/{id}": {
      "get": {
        "tags": [
          "Actions V1"
        ],
        "summary": "Show Actions V1",
        "description": "Get a single incident action.",
        "operationId": "Actions V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the action",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the action",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody"
                },
                "example": {
                  "action": {
                    "assignee": {
                      "email": "lisa@incident.io",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "name": "Lisa Karlin Curtis",
                      "role": "viewer",
                      "slack_user_id": "U02AYNF2XJM"
                    },
                    "completed_at": "2021-08-17T13:28:57.801578Z",
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Call the fire brigade",
                    "external_issue_reference": {},
                    "follow_up": true,
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "status": "outstanding",
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom_field_options": {
      "get": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "List Custom Field Options V1",
        "description": "Show custom field options for a custom field",
        "operationId": "Custom Field Options V1#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "description": "number of records to return",
              "default": 25,
              "example": 25,
              "format": "int64"
            },
            "example": 25
          },
          {
            "name": "after",
            "in": "query",
            "description": "A custom field option's ID. This endpoint will return a list of custom field options created after this option.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "A custom field option's ID. This endpoint will return a list of custom field options created after this option.",
              "example": "01G0J1EXE7AXZ2C93K61WBPYEH"
            },
            "example": "01G0J1EXE7AXZ2C93K61WBPYEH"
          },
          {
            "name": "custom_field_id",
            "in": "query",
            "description": "The custom field to list options for.",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "The custom field to list options for.",
              "example": "01FCNDV6P870EA6S7TK1DSYD5H"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYD5H"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody2"
                },
                "example": {
                  "custom_field_options": [
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Create Custom Field Options V1",
        "description": "Create a custom field option. If the sort key is not supplied, it'll default to 1000, so the option appears near the end of the list.",
        "operationId": "Custom Field Options V1#Create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequestBody"
              },
              "example": {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody2"
                },
                "example": {
                  "custom_field_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom_field_options/{id}": {
      "delete": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Delete Custom Field Options V1",
        "description": "Delete a custom field option",
        "operationId": "Custom Field Options V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the custom field option",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        }
      },
      "get": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Show Custom Field Options V1",
        "description": "Get a single custom field option",
        "operationId": "Custom Field Options V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the custom field option",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody2"
                },
                "example": {
                  "custom_field_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Update Custom Field Options V1",
        "description": "Update a custom field option",
        "operationId": "Custom Field Options V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the custom field option",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestBody"
              },
              "example": {
                "sort_key": 10,
                "value": "Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody2"
                },
                "example": {
                  "custom_field_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom_fields": {
      "get": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "List Custom Fields V1",
        "description": "List all custom fields for an organisation.",
        "operationId": "Custom Fields V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody3"
                },
                "example": {
                  "custom_fields": [
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Which team is impacted by this issue",
                      "field_type": "single_select",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "name": "Affected Team",
                      "options": [
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        },
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        },
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        }
                      ],
                      "required": "never",
                      "show_before_closure": true,
                      "show_before_creation": true,
                      "show_in_announcement_post": true,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Which team is impacted by this issue",
                      "field_type": "single_select",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "name": "Affected Team",
                      "options": [
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        },
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        },
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        }
                      ],
                      "required": "never",
                      "show_before_closure": true,
                      "show_before_creation": true,
                      "show_in_announcement_post": true,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Which team is impacted by this issue",
                      "field_type": "single_select",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "name": "Affected Team",
                      "options": [
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        },
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        },
                        {
                          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "sort_key": 10,
                          "value": "Product"
                        }
                      ],
                      "required": "never",
                      "show_before_closure": true,
                      "show_before_creation": true,
                      "show_in_announcement_post": true,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Create Custom Fields V1",
        "description": "Create a new custom field",
        "operationId": "Custom Fields V1#Create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequestBody2"
              },
              "example": {
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "name": "Affected Team",
                "required": "never",
                "show_before_closure": true,
                "show_before_creation": true,
                "show_in_announcement_post": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody3"
                },
                "example": {
                  "custom_field": {
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Which team is impacted by this issue",
                    "field_type": "single_select",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "name": "Affected Team",
                    "options": [
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      },
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      },
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      }
                    ],
                    "required": "never",
                    "show_before_closure": true,
                    "show_before_creation": true,
                    "show_in_announcement_post": true,
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom_fields/{id}": {
      "delete": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Delete Custom Fields V1",
        "description": "Delete a custom field",
        "operationId": "Custom Fields V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the custom field",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        }
      },
      "get": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Show Custom Fields V1",
        "description": "Get a single custom field.",
        "operationId": "Custom Fields V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the custom field",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody3"
                },
                "example": {
                  "custom_field": {
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Which team is impacted by this issue",
                    "field_type": "single_select",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "name": "Affected Team",
                    "options": [
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      },
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      },
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      }
                    ],
                    "required": "never",
                    "show_before_closure": true,
                    "show_before_creation": true,
                    "show_in_announcement_post": true,
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Update Custom Fields V1",
        "description": "Update the details of a custom field",
        "operationId": "Custom Fields V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the custom field",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestBody2"
              },
              "example": {
                "description": "Which team is impacted by this issue",
                "name": "Affected Team",
                "required": "never",
                "show_before_closure": true,
                "show_before_creation": true,
                "show_in_announcement_post": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody3"
                },
                "example": {
                  "custom_field": {
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Which team is impacted by this issue",
                    "field_type": "single_select",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "name": "Affected Team",
                    "options": [
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      },
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      },
                      {
                        "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "sort_key": 10,
                        "value": "Product"
                      }
                    ],
                    "required": "never",
                    "show_before_closure": true,
                    "show_before_creation": true,
                    "show_in_announcement_post": true,
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/identity": {
      "get": {
        "tags": [
          "Utilities V1"
        ],
        "summary": "Identity Utilities V1",
        "description": "Test if your API key is valid, and which roles it has.",
        "operationId": "Utilities V1#Identity",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponseBody"
                },
                "example": {
                  "identity": {
                    "name": "Alertmanager token",
                    "roles": [
                      "manage_settings",
                      "viewer",
                      "viewer"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incident_attachments": {
      "get": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "List Incident Attachments V1",
        "description": "List all incident attachements for an external resouce",
        "operationId": "Incident Attachments V1#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Incident that this attachment is against",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Incident that this attachment is against",
              "example": "01G0J1EXE7AXZ2C93K61WBPYEH"
            },
            "example": "01G0J1EXE7AXZ2C93K61WBPYEH"
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "ID of the resource in the external system",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the resource in the external system",
              "example": "123"
            },
            "example": "123"
          },
          {
            "name": "resource_type",
            "in": "query",
            "description": "E.g. PagerDuty: the external system that holds the resource",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "E.g. PagerDuty: the external system that holds the resource",
              "example": "pager_duty_incident",
              "enum": [
                "pager_duty_incident",
                "github_pull_request",
                "sentry_issue",
                "zendesk_ticket"
              ]
            },
            "examples": {
              "default": {
                "summary": "default",
                "value": "pager_duty_incident"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody4"
                },
                "example": {
                  "incident_attachments": [
                    {
                      "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "incident_id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "resource": {
                        "external_id": "123",
                        "permalink": "https://my.pagerduty.com/incidents/ABC",
                        "resource_type": "pager_duty_incident",
                        "title": "The database has gone down"
                      }
                    },
                    {
                      "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "incident_id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "resource": {
                        "external_id": "123",
                        "permalink": "https://my.pagerduty.com/incidents/ABC",
                        "resource_type": "pager_duty_incident",
                        "title": "The database has gone down"
                      }
                    },
                    {
                      "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "incident_id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "resource": {
                        "external_id": "123",
                        "permalink": "https://my.pagerduty.com/incidents/ABC",
                        "resource_type": "pager_duty_incident",
                        "title": "The database has gone down"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "Create Incident Attachments V1",
        "description": "Attaches an external resource to an incident",
        "operationId": "Incident Attachments V1#Create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequestBody3"
              },
              "example": {
                "incident_id": "01FDAG4SAP5TYPT98WGR2N7W91",
                "resource": {
                  "external_id": "123",
                  "resource_type": "pager_duty_incident"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponseBody"
                },
                "example": {
                  "incident_attachment": {
                    "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                    "incident_id": "01FCNDV6P870EA6S7TK1DSYD5H",
                    "resource": {
                      "external_id": "123",
                      "permalink": "https://my.pagerduty.com/incidents/ABC",
                      "resource_type": "pager_duty_incident",
                      "title": "The database has gone down"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incident_attachments/{id}": {
      "delete": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "Delete Incident Attachments V1",
        "description": "Unattaches an external resouce from an incident",
        "operationId": "Incident Attachments V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of this incident membership",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of this incident membership",
              "example": "01FCNDV6P870EA6S7TK1DSYD5H"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYD5H"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        }
      }
    },
    "/v1/incident_roles": {
      "get": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "List Incident Roles V1",
        "description": "List all incident roles for an organisation.",
        "operationId": "Incident Roles V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody5"
                },
                "example": {
                  "incident_roles": [
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "The person currently coordinating the incident",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                      "name": "Incident Lead",
                      "required": true,
                      "role_type": "lead",
                      "shortform": "lead",
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "The person currently coordinating the incident",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                      "name": "Incident Lead",
                      "required": true,
                      "role_type": "lead",
                      "shortform": "lead",
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "The person currently coordinating the incident",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                      "name": "Incident Lead",
                      "required": true,
                      "role_type": "lead",
                      "shortform": "lead",
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Create Incident Roles V1",
        "description": "Create a new incident role",
        "operationId": "Incident Roles V1#Create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequestBody4"
              },
              "example": {
                "description": "The person currently coordinating the incident",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody4"
                },
                "example": {
                  "incident_role": {
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "The person currently coordinating the incident",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                    "name": "Incident Lead",
                    "required": true,
                    "role_type": "lead",
                    "shortform": "lead",
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incident_roles/{id}": {
      "delete": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Delete Incident Roles V1",
        "description": "Removes an existing role",
        "operationId": "Incident Roles V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the role",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        }
      },
      "get": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Show Incident Roles V1",
        "description": "Get a single incident role.",
        "operationId": "Incident Roles V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the role",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody4"
                },
                "example": {
                  "incident_role": {
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "The person currently coordinating the incident",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                    "name": "Incident Lead",
                    "required": true,
                    "role_type": "lead",
                    "shortform": "lead",
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Update Incident Roles V1",
        "description": "Update an existing incident role",
        "operationId": "Incident Roles V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the role",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestBody3"
              },
              "example": {
                "description": "The person currently coordinating the incident",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody4"
                },
                "example": {
                  "incident_role": {
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "The person currently coordinating the incident",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                    "name": "Incident Lead",
                    "required": true,
                    "role_type": "lead",
                    "shortform": "lead",
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incident_statuses": {
      "get": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "List IncidentStatuses V1",
        "description": "List all incident statuses for an organisation.",
        "operationId": "IncidentStatuses V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody6"
                },
                "example": {
                  "incident_statuses": [
                    {
                      "category": "triage",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                      "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "name": "Closed",
                      "rank": 4,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "category": "triage",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                      "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "name": "Closed",
                      "rank": 4,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "category": "triage",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                      "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                      "name": "Closed",
                      "rank": 4,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Create IncidentStatuses V1",
        "description": "Create a new incident status",
        "operationId": "IncidentStatuses V1#Create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequestBody5"
              },
              "example": {
                "category": "live",
                "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                "name": "Closed"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody5"
                },
                "example": {
                  "incident_status": {
                    "category": "triage",
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                    "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                    "name": "Closed",
                    "rank": 4,
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incident_statuses/{id}": {
      "delete": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Delete IncidentStatuses V1",
        "description": "Delete an incident status",
        "operationId": "IncidentStatuses V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique ID of this incident status",
              "example": "01FCNDV6P870EA6S7TK1DSYD5H"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYD5H"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          }
        }
      },
      "get": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Show IncidentStatuses V1",
        "description": "Get a single incident status.",
        "operationId": "IncidentStatuses V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique ID of this incident status",
              "example": "01FCNDV6P870EA6S7TK1DSYD5H"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYD5H"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody5"
                },
                "example": {
                  "incident_status": {
                    "category": "triage",
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                    "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                    "name": "Closed",
                    "rank": 4,
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Update IncidentStatuses V1",
        "description": "Update an existing incident status",
        "operationId": "IncidentStatuses V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique ID of this incident status",
              "example": "01FCNDV6P870EA6S7TK1DSYD5H"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYD5H"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestBody4"
              },
              "example": {
                "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                "name": "Closed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody5"
                },
                "example": {
                  "incident_status": {
                    "category": "triage",
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
                    "id": "01FCNDV6P870EA6S7TK1DSYD5H",
                    "name": "Closed",
                    "rank": 4,
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incident_types": {
      "get": {
        "tags": [
          "Incident Types V1"
        ],
        "summary": "List Incident Types V1",
        "description": "List all incident types for an organisation.",
        "operationId": "Incident Types V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody7"
                },
                "example": {
                  "incident_types": [
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Customer facing production outages",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "is_default": true,
                      "name": "Production Outage",
                      "private_incidents_only": true,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    },
                    {
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "description": "Customer facing production outages",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "is_default": true,
                      "name": "Production Outage",
                      "private_incidents_only": true,
                      "updated_at": "2021-08-17T13:28:57.801578Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/incident_types/{id}": {
      "get": {
        "tags": [
          "Incident Types V1"
        ],
        "summary": "Show Incident Types V1",
        "description": "Get a single incident type.",
        "operationId": "Incident Types V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this Incident Type",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for this Incident Type",
              "example": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponseBody6"
                },
                "example": {
                  "incident_type": {
                    "created_at": "2021-08-17T13:28:57.801578Z",
                    "description": "Customer facing production outages",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "is_default": true,
                    "name": "Production Outage",
                    "private_incidents_only": true,
                    "updated_at": "2021-08-17T13:28:57.801578Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incidents": {
      "get": {
        "description": "List all incidents for an organisation.",
        "operationId": "Incidents V1#List",
        "parameters": [
          {
            "allowEmptyValue": true,
            "description": "number of records to return",
            "example": 25,
            "in": "query",
            "name": "page_size",
            "schema": {
              "default": 25,
              "description": "number of records to return",
              "example": 25,
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": true,
            "description": "An incident's ID. This endpoint will return a list of incidents after this ID in relation to the API response order.",
            "example": "01FDAG4SAP5TYPT98WGR2N7W91",
            "in": "query",
            "name": "after",
            "schema": {
              "description": "An incident's ID. This endpoint will return a list of incidents after this ID in relation to the API response order.",
              "example": "01FDAG4SAP5TYPT98WGR2N7W91",
              "type": "string"
            }
          },
          {
            "allowEmptyValue": true,
            "description": "Filter for incidents in these statuses",
            "examples": {
              "default": {
                "summary": "default",
                "value": [
                  "declined"
                ]
              }
            },
            "in": "query",
            "name": "status",
            "schema": {
              "description": "Filter for incidents in these statuses",
              "example": [
                "declined"
              ],
              "items": {
                "example": "declined",
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "incidents": [
                    {
                      "call_url": "https://zoom.us/foo",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "creator": {
                        "api_key": {
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "name": "My test API key"
                        },
                        "user": {
                          "email": "lisa@incident.io",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "name": "Lisa Karlin Curtis",
                          "role": "viewer",
                          "slack_user_id": "U02AYNF2XJM"
                        }
                      },
                      "custom_field_entries": [
                        {
                          "custom_field": {
                            "description": "Which team is impacted by this issue",
                            "field_type": "single_select",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Affected Team",
                            "options": [
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              }
                            ]
                          },
                          "values": [
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            }
                          ]
                        },
                        {
                          "custom_field": {
                            "description": "Which team is impacted by this issue",
                            "field_type": "single_select",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Affected Team",
                            "options": [
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              }
                            ]
                          },
                          "values": [
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            }
                          ]
                        },
                        {
                          "custom_field": {
                            "description": "Which team is impacted by this issue",
                            "field_type": "single_select",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Affected Team",
                            "options": [
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              }
                            ]
                          },
                          "values": [
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            }
                          ]
                        }
                      ],
                      "id": "01FDAG4SAP5TYPT98WGR2N7W91",
                      "incident_role_assignments": [
                        {
                          "assignee": {
                            "email": "lisa@incident.io",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Lisa Karlin Curtis",
                            "role": "viewer",
                            "slack_user_id": "U02AYNF2XJM"
                          },
                          "role": {
                            "created_at": "2021-08-17T13:28:57.801578Z",
                            "description": "The person currently coordinating the incident",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                            "name": "Incident Lead",
                            "required": true,
                            "role_type": "lead",
                            "shortform": "lead",
                            "updated_at": "2021-08-17T13:28:57.801578Z"
                          }
                        },
                        {
                          "assignee": {
                            "email": "lisa@incident.io",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Lisa Karlin Curtis",
                            "role": "viewer",
                            "slack_user_id": "U02AYNF2XJM"
                          },
                          "role": {
                            "created_at": "2021-08-17T13:28:57.801578Z",
                            "description": "The person currently coordinating the incident",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                            "name": "Incident Lead",
                            "required": true,
                            "role_type": "lead",
                            "shortform": "lead",
                            "updated_at": "2021-08-17T13:28:57.801578Z"
                          }
                        },
                        {
                          "assignee": {
                            "email": "lisa@incident.io",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Lisa Karlin Curtis",
                            "role": "viewer",
                            "slack_user_id": "U02AYNF2XJM"
                          },
                          "role": {
                            "created_at": "2021-08-17T13:28:57.801578Z",
                            "description": "The person currently coordinating the incident",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                            "name": "Incident Lead",
                            "required": true,
                            "role_type": "lead",
                            "shortform": "lead",
                            "updated_at": "2021-08-17T13:28:57.801578Z"
                          }
                        }
                      ],
                      "incident_type": {
                        "created_at": "2021-08-17T13:28:57.801578Z",
                        "description": "Customer facing production outages",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "is_default": true,
                        "name": "Production Outage",
                        "private_incidents_only": true,
                        "updated_at": "2021-08-17T13:28:57.801578Z"
                      },
                      "mode": "real",
                      "name": "Our database is sad",
                      "permalink": "https://app.incident.io/incidents/123",
                      "postmortem_document_url": "https://docs.google.com/my_doc_id",
                      "reference": "INC-123",
                      "severity": {
                        "created_at": "2021-08-17T13:28:57.801578Z",
                        "description": "It's not really that bad, everyone chill",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "name": "Minor",
                        "rank": 1,
                        "updated_at": "2021-08-17T13:28:57.801578Z"
                      },
                      "slack_channel_id": "C02AW36C1M5",
                      "slack_channel_name": "inc-165-green-parrot",
                      "status": "triage",
                      "summary": "Our database is really really sad, and we don't know why yet.",
                      "timestamps": [
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        },
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        },
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        },
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        }
                      ],
                      "updated_at": "2021-08-17T13:28:57.801578Z",
                      "visibility": "public"
                    },
                    {
                      "call_url": "https://zoom.us/foo",
                      "created_at": "2021-08-17T13:28:57.801578Z",
                      "creator": {
                        "api_key": {
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "name": "My test API key"
                        },
                        "user": {
                          "email": "lisa@incident.io",
                          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                          "name": "Lisa Karlin Curtis",
                          "role": "viewer",
                          "slack_user_id": "U02AYNF2XJM"
                        }
                      },
                      "custom_field_entries": [
                        {
                          "custom_field": {
                            "description": "Which team is impacted by this issue",
                            "field_type": "single_select",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Affected Team",
                            "options": [
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              }
                            ]
                          },
                          "values": [
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            }
                          ]
                        },
                        {
                          "custom_field": {
                            "description": "Which team is impacted by this issue",
                            "field_type": "single_select",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Affected Team",
                            "options": [
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              }
                            ]
                          },
                          "values": [
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            }
                          ]
                        },
                        {
                          "custom_field": {
                            "description": "Which team is impacted by this issue",
                            "field_type": "single_select",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Affected Team",
                            "options": [
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              }
                            ]
                          },
                          "values": [
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            },
                            {
                              "value_link": "https://google.com/",
                              "value_numeric": "123.456",
                              "value_option": {
                                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                                "sort_key": 10,
                                "value": "Product"
                              },
                              "value_text": "This is my text field, I hope you like it"
                            }
                          ]
                        }
                      ],
                      "id": "01FDAG4SAP5TYPT98WGR2N7W91",
                      "incident_role_assignments": [
                        {
                          "assignee": {
                            "email": "lisa@incident.io",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Lisa Karlin Curtis",
                            "role": "viewer",
                            "slack_user_id": "U02AYNF2XJM"
                          },
                          "role": {
                            "created_at": "2021-08-17T13:28:57.801578Z",
                            "description": "The person currently coordinating the incident",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                            "name": "Incident Lead",
                            "required": true,
                            "role_type": "lead",
                            "shortform": "lead",
                            "updated_at": "2021-08-17T13:28:57.801578Z"
                          }
                        },
                        {
                          "assignee": {
                            "email": "lisa@incident.io",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Lisa Karlin Curtis",
                            "role": "viewer",
                            "slack_user_id": "U02AYNF2XJM"
                          },
                          "role": {
                            "created_at": "2021-08-17T13:28:57.801578Z",
                            "description": "The person currently coordinating the incident",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                            "name": "Incident Lead",
                            "required": true,
                            "role_type": "lead",
                            "shortform": "lead",
                            "updated_at": "2021-08-17T13:28:57.801578Z"
                          }
                        },
                        {
                          "assignee": {
                            "email": "lisa@incident.io",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "name": "Lisa Karlin Curtis",
                            "role": "viewer",
                            "slack_user_id": "U02AYNF2XJM"
                          },
                          "role": {
                            "created_at": "2021-08-17T13:28:57.801578Z",
                            "description": "The person currently coordinating the incident",
                            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                            "name": "Incident Lead",
                            "required": true,
                            "role_type": "lead",
                            "shortform": "lead",
                            "updated_at": "2021-08-17T13:28:57.801578Z"
                          }
                        }
                      ],
                      "incident_type": {
                        "created_at": "2021-08-17T13:28:57.801578Z",
                        "description": "Customer facing production outages",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "is_default": true,
                        "name": "Production Outage",
                        "private_incidents_only": true,
                        "updated_at": "2021-08-17T13:28:57.801578Z"
                      },
                      "mode": "real",
                      "name": "Our database is sad",
                      "permalink": "https://app.incident.io/incidents/123",
                      "postmortem_document_url": "https://docs.google.com/my_doc_id",
                      "reference": "INC-123",
                      "severity": {
                        "created_at": "2021-08-17T13:28:57.801578Z",
                        "description": "It's not really that bad, everyone chill",
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "name": "Minor",
                        "rank": 1,
                        "updated_at": "2021-08-17T13:28:57.801578Z"
                      },
                      "slack_channel_id": "C02AW36C1M5",
                      "slack_channel_name": "inc-165-green-parrot",
                      "status": "triage",
                      "summary": "Our database is really really sad, and we don't know why yet.",
                      "timestamps": [
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        },
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        },
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        },
                        {
                          "last_occurred_at": "2021-08-17T13:28:57.801578Z",
                          "name": "last_activity"
                        }
                      ],
                      "updated_at": "2021-08-17T13:28:57.801578Z",
                      "visibility": "public"
                    }
                  ],
                  "pagination_meta": {
                    "after": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "page_size": 25,
                    "total_record_count": 238
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListResponseBody8"
                }
              }
            },
            "description": "OK response."
          }
        },
        "summary": "List Incidents V1",
        "tags": [
          "Incidents V1"
        ],
        "deprecated": true
      },
      "post": {
        "description": "Create a new incident.",
        "operationId": "Incidents V1#Create",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "custom_field_entries": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "values": [
                      {
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_link": "https://google.com/",
                        "value_numeric": "123.456",
                        "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_text": "This is my text field, I hope you like it",
                        "value_timestamp": ""
                      },
                      {
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_link": "https://google.com/",
                        "value_numeric": "123.456",
                        "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_text": "This is my text field, I hope you like it",
                        "value_timestamp": ""
                      }
                    ]
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "values": [
                      {
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_link": "https://google.com/",
                        "value_numeric": "123.456",
                        "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_text": "This is my text field, I hope you like it",
                        "value_timestamp": ""
                      },
                      {
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_link": "https://google.com/",
                        "value_numeric": "123.456",
                        "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_text": "This is my text field, I hope you like it",
                        "value_timestamp": ""
                      }
                    ]
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "values": [
                      {
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_link": "https://google.com/",
                        "value_numeric": "123.456",
                        "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_text": "This is my text field, I hope you like it",
                        "value_timestamp": ""
                      },
                      {
                        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_link": "https://google.com/",
                        "value_numeric": "123.456",
                        "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "value_text": "This is my text field, I hope you like it",
                        "value_timestamp": ""
                      }
                    ]
                  }
                ],
                "idempotency_key": "alert-uuid",
                "incident_role_assignments": [
                  {
                    "assignee": {
                      "email": "bob@example.com",
                      "id": "01G0J1EXE7AXZ2C93K61WBPYEH",
                      "slack_user_id": "USER123"
                    },
                    "incident_role_id": "01FH5TZRWMNAFB0DZ23FD1TV96"
                  },
                  {
                    "assignee": {
                      "email": "bob@example.com",
                      "id": "01G0J1EXE7AXZ2C93K61WBPYEH",
                      "slack_user_id": "USER123"
                    },
                    "incident_role_id": "01FH5TZRWMNAFB0DZ23FD1TV96"
                  },
                  {
                    "assignee": {
                      "email": "bob@example.com",
                      "id": "01G0J1EXE7AXZ2C93K61WBPYEH",
                      "slack_user_id": "USER123"
                    },
[...]
