{
  "openapi": "3.0.0",
  "info": {
    "title": "incident.io",
    "description": "This is the API reference for incident.io.\n\nIt documents available API endpoints, provides examples of how to use it, and\ninstructions around things like authentication and error handling.\n\nThe API is hosted at:\n\n- https://api.incident.io/\n\nAnd you will need to create an API key via your [incident.io dashboard][app/api-keys]\nto make requests.\n\n# Making requests\n\nHere are the key concepts required to make requests to the incident.io API.\n\n## Authentication\n\nFor all requests made to the incident.io API, you'll need an API key.\n\n[app/api-keys]: https://app.incident.io/settings/api-keys\n\nTo create an API key, head to the incident dashboard and visit [API\nkeys][app/api-keys]. When you create the key, you'll be able to choose what\nactions it can take for your account: choose carefully, as those roles can only\nbe set when you first create the key. We'll only show you the token once, so\nmake sure you store it somewhere safe.\n\nOnce you have the key, you should make requests to the API that set the\n`Authorization` request header using a \"Bearer\" authentication scheme:\n\n```\nAuthorization: Bearer <YOUR_API_KEY>\n```\n\n## Errors\n\nWe use standard HTTP response codes to indicate the status or failure of API\nrequests.\n\nThe API response body will be JSON, and contain more detailed information on the\nnature of the error.\n\nAn example error when a request is made without an API key:\n\n```json\n{\n  \"type\": \"authentication_error\",\n  \"status\": 401,\n  \"request_id\": \"8e3cc412-b49d-4957-9073-2c19d2c61804\",\n  \"errors\": [\n    {\n      \"code\": \"missing_authorization_material\",\n      \"message\": \"No authorization material provided in request\"\n    }\n  ]\n}\n```\n\nNote that the error:\n\n- Contains the HTTP status (`401`)\n- References the type of error (`authentication_error`)\n- Includes a `request_id` that can be provided to incident.io support to help\n\tdebug questions with your API request\n- Provides a list of individual errors, which go into detail about why the error\n\toccurred\n\nThe most common error will be a 422 Validation Error, which is returned when the\nrequest was rejected due to failing validations.\n\nThese errors look like this:\n\n```json\n{\n  \"type\": \"validation_error\",\n  \"status\": 422,\n  \"request_id\": \"631766c4-4afd-4803-997c-cd700928fa4b\",\n  \"errors\": [\n    {\n      \"code\": \"is_required\",\n      \"message\": \"A severity is required to open an incident\",\n      \"source\": {\n        \"field\": \"severity_id\"\n      }\n    }\n  ]\n}\n```\n\nThis error is caused by not providing a severity identifier, which should be at\nthe `severity_id` field of the request payload. Errors like these can be mapped to\nforms, should you be integrating with the API from a user-interface.\n",
    "version": "1.0.0"
  },
  "paths": {
    "/v1/actions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "List Actions",
        "description": "List all actions for an organisation.",
        "operationId": "Actions#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Find actions related to this incident",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_follow_up",
            "in": "query",
            "description": "Filter to actions marked as being follow up actions",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "exclude_test_incidents",
            "in": "query",
            "description": "Don't return actions attached to test incidents. This field is deprecated in favour of the `incident_mode` param.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "incident_mode",
            "in": "query",
            "description": "Filter to actions from incidents of the given mode. If not set, only actions from `real` incidents are returned",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "real",
                "test",
                "tutorial"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/actions/{id}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Show Actions",
        "description": "Get a single incident action.",
        "operationId": "Actions#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/custom_field_options": {
      "get": {
        "tags": [
          "Custom Field Options"
        ],
        "summary": "List Custom Field Options",
        "description": "Show custom field options for a custom field",
        "operationId": "Custom Field Options#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A custom field option's ID. This endpoint will return a list of custom field options created after this option.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom_field_id",
            "in": "query",
            "description": "The custom field to list options for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Field Options"
        ],
        "summary": "Create Custom Field Options",
        "description": "Create a custom field option. If the sort key is not supplied, it'll default to 1000, so the option appears near the end of the list.",
        "operationId": "Custom Field Options#Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionsCreateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionsCreateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionsCreateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsCreateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsCreateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsCreateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/custom_field_options/{id}": {
      "get": {
        "tags": [
          "Custom Field Options"
        ],
        "summary": "Show Custom Field Options",
        "description": "Get a single custom field option",
        "operationId": "Custom Field Options#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "put": {
        "tags": [
          "Custom Field Options"
        ],
        "summary": "Update Custom Field Options",
        "description": "Update a custom field option",
        "operationId": "Custom Field Options#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionsUpdateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionsUpdateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldOptionsUpdateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsUpdateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsUpdateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOptionsUpdateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Field Options"
        ],
        "summary": "Delete Custom Field Options",
        "description": "Delete a custom field option",
        "operationId": "Custom Field Options#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/custom_fields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "List Custom Fields",
        "description": "List all custom fields for an organisation.",
        "operationId": "Custom Fields#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Create Custom Fields",
        "description": "Create a new custom field",
        "operationId": "Custom Fields#Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldsCreateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldsCreateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldsCreateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsCreateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsCreateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsCreateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/custom_fields/{id}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Show Custom Fields",
        "description": "Get a single custom field.",
        "operationId": "Custom Fields#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "put": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Update Custom Fields",
        "description": "Update the details of a custom field",
        "operationId": "Custom Fields#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldsUpdateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldsUpdateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldsUpdateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsUpdateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsUpdateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsUpdateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Delete Custom Fields",
        "description": "Delete a custom field",
        "operationId": "Custom Fields#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/identity": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Identity Utilities",
        "description": "Test if your API key is valid, and which roles it has.",
        "operationId": "Utilities#Identity",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilitiesIdentityResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UtilitiesIdentityResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/UtilitiesIdentityResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incident_roles": {
      "get": {
        "tags": [
          "Incident Roles"
        ],
        "summary": "List Incident Roles",
        "description": "List all incident roles for an organisation.",
        "operationId": "Incident Roles#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "post": {
        "tags": [
          "Incident Roles"
        ],
        "summary": "Create Incident Roles",
        "description": "Create a new incident role",
        "operationId": "Incident Roles#Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentRolesCreateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/IncidentRolesCreateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/IncidentRolesCreateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesCreateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesCreateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesCreateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incident_roles/{id}": {
      "get": {
        "tags": [
          "Incident Roles"
        ],
        "summary": "Show Incident Roles",
        "description": "Get a single incident role.",
        "operationId": "Incident Roles#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "put": {
        "tags": [
          "Incident Roles"
        ],
        "summary": "Update Incident Roles",
        "description": "Update an existing incident role",
        "operationId": "Incident Roles#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentRolesUpdateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/IncidentRolesUpdateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/IncidentRolesUpdateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesUpdateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesUpdateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesUpdateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "delete": {
        "tags": [
          "Incident Roles"
        ],
        "summary": "Delete Incident Roles",
        "description": "Removes an existing role",
        "operationId": "Incident Roles#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incident_types": {
      "get": {
        "tags": [
          "Incident Types"
        ],
        "summary": "List Incident Types",
        "description": "List all incident types for an organisation.",
        "operationId": "Incident Types#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentTypesListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentTypesListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentTypesListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incident_types/{id}": {
      "get": {
        "tags": [
          "Incident Types"
        ],
        "summary": "Show Incident Types",
        "description": "Get a single incident type.",
        "operationId": "Incident Types#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this Incident Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentTypesShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentTypesShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentTypesShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incidents": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "List Incidents",
        "description": "List all incidents for an organisation.",
        "operationId": "Incidents#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "An incident's ID. This endpoint will return a list of incidents created after this incident.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter for incidents in these statuses",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "post": {
        "tags": [
          "Incidents"
        ],
        "summary": "Create Incidents",
        "description": "Create a new incident.",
        "operationId": "Incidents#Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentsCreateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/IncidentsCreateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/IncidentsCreateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsCreateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsCreateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsCreateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incidents/{id}": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "Show Incidents",
        "description": "Get a single incident.",
        "operationId": "Incidents#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the incident",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "OpenAPI Utilities",
        "description": "Get the OpenAPI (v2) definition.",
        "operationId": "Utilities#OpenAPI",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {}
              },
              "application/xml": {
                "schema": {}
              },
              "application/gob": {
                "schema": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/severities": {
      "get": {
        "tags": [
          "Severities"
        ],
        "summary": "List Severities",
        "description": "List all incident severities for an organisation.",
        "operationId": "Severities#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "post": {
        "tags": [
          "Severities"
        ],
        "summary": "Create Severities",
        "description": "Create a new severity",
        "operationId": "Severities#Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeveritiesCreateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SeveritiesCreateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/SeveritiesCreateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesCreateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesCreateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesCreateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/severities/{id}": {
      "get": {
        "tags": [
          "Severities"
        ],
        "summary": "Show Severities",
        "description": "Get a single incident severity.",
        "operationId": "Severities#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "put": {
        "tags": [
          "Severities"
        ],
        "summary": "Update Severities",
        "description": "Update an existing severity",
        "operationId": "Severities#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeveritiesUpdateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SeveritiesUpdateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/SeveritiesUpdateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesUpdateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesUpdateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesUpdateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "delete": {
        "tags": [
          "Severities"
        ],
        "summary": "Delete Severities",
        "description": "Delete a severity",
        "operationId": "Severities#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Actions",
      "description": "Manage incident actions.\n\nIncidents have two types of actions associated to them:\n\n- Actions, used during an incident response as ephemeral todo lists\n- Follow-ups, actions which are for after the incident and can be exported to external\n\tissue trackers\n\nYou can manage actions in the incident Slack channel with <code>/incident actions</code>, or on\nthe incident homepage.\n\nExporting follow-ups to external issue trackers can be done in the incident homepage.\n"
    },
    {
      "name": "Custom Field Options",
      "description": "Manage custom field options.\n\nSingle- and multi-select custom fields have a list of all available options,\nwhich have a value, and a sort key. The value must be unique to the custom\nfield. For example, you might have an Incident Type custom field, with options\n\"Data breach\", \"Performance degradation\", \"API downtime\", etc."
    },
    {
      "name": "Custom Fields",
      "description": "Manage custom fields.\n\nCustom fields are used to attach metadata to incidents, which you can use when searching\nfor incidents in the dashboard, triggering workflows, building announcement rules or for\nyour own data needs.\n\nEach field has a type:\n\n- Single-select, single value selected from a predefined list of options (ie. Incident Type)\n- Multi-select, as above but you can pick more than one option (ie. Teams)\n- Text, freeform text field (ie. Customer ID)\n- Link, link URL that is synced to Slack bookmarks on the incident channel (ie. External Status Page)\n- Number, integer or fractional numbers (ie. Customers Affected)\n\nWe may add more custom field types in the future - we'd love to hear any other types you'd like to use!\n"
    },
    {
      "name": "Incident Roles",
      "description": "Manage incident roles.\n\nDuring an incident, you can assign responders to one of the incident roles that are\nconfigured in your organisation settings.\n\nEvery organisation will have a special 'lead' role, which signifies the incident lead or\ncommander. This role cannot be deleted, but can be renamed in the incident.io dashboard.\n"
    },
    {
      "name": "Incident Types",
      "description": "View incident types.\n\nWith incident types enabled, you can tailor your process to the situation you're responding to with different custom fields and roles for each incident type.\n"
    },
    {
      "name": "Incidents",
      "description": "Create and read incidents.\n\nIncidents are a core resource, on which many other resources (actions, etc) are created.\n\nCare should be taken around these endpoints, as automation that creates duplicate\nincidents can be distracting, and impact reporting.\n"
    },
    {
      "name": "Severities",
      "description": "Manage incident severities.\n\nEach incident has a severity, picked from one of the severities configured in your\norganisations settings.\n\nSeverities help categorise incidents, and communicate urgency/impact. You can use\nseverities when filtering incidents in the dashboard, and in workflows and announcement\nrules.\n"
    },
    {
      "name": "Utilities",
      "description": "Miscelaneous utility endpoints.\n\nCollection of utility functions that can help build integrations against this API.\n"
    }
  ],
  "servers": [
    {
      "url": "//api.incident.io"
    }
  ],
  "components": {
    "schemas": {
      "APIKeyResponseBody": {
        "title": "APIKeyResponseBody",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this API key",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "name": {
            "type": "string",
            "description": "The name of the API key, for the user's reference",
            "example": "My test API key"
          }
        },
        "example": {
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "My test API key"
        },
        "required": [
          "id",
          "name",
          "roles",
          "created_by"
        ]
      },
      "ActionResponseBody": {
        "title": "ActionResponseBody",
        "type": "object",
        "properties": {
          "completed_at": {
            "type": "string",
            "description": "When the action was completed",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "description": "When the action was created",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "Description of the action",
            "example": "Call the fire brigade"
          },
          "external_issue_reference": {
            "$ref": "#/components/schemas/ExternalIssueReferenceResponseBody"
          },
          "follow_up": {
            "type": "boolean",
            "description": "Whether an action is marked as follow-up",
            "example": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the action",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "incident_id": {
            "type": "string",
            "description": "Unique identifier of the incident the action belongs to",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "status": {
            "type": "string",
            "description": "Status of the action",
            "example": "outstanding",
            "enum": [
              "outstanding",
              "completed",
              "deleted",
              "not_doing"
            ]
          },
          "updated_at": {
            "type": "string",
            "description": "When the action was last updated",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          }
        },
        "example": {
          "completed_at": "2021-08-17T13:28:57.801578Z",
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "Call the fire brigade",
          "external_issue_reference": {
            "issue_name": "INC-123",
            "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
            "provider": "linear"
          },
          "follow_up": true,
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "status": "outstanding",
          "updated_at": "2021-08-17T13:28:57.801578Z"
        },
        "required": [
          "id",
          "organisation_id",
          "incident_id",
          "description",
          "status",
          "follow_up",
          "created_at",
          "updated_at"
        ]
      },
      "ActionsListResponseBody": {
        "title": "ActionsListResponseBody",
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionResponseBody"
            },
            "example": [
              {
                "completed_at": "2021-08-17T13:28:57.801578Z",
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Call the fire brigade",
                "external_issue_reference": {
                  "issue_name": "INC-123",
                  "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                  "provider": "linear"
                },
                "follow_up": true,
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "status": "outstanding",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "completed_at": "2021-08-17T13:28:57.801578Z",
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Call the fire brigade",
                "external_issue_reference": {
                  "issue_name": "INC-123",
                  "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                  "provider": "linear"
                },
                "follow_up": true,
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "status": "outstanding",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            ]
          }
        },
        "example": {
          "actions": [
            {
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "linear"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "linear"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "linear"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "linear"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            }
          ]
        },
        "required": [
          "actions"
        ]
      },
      "ActionsShowResponseBody": {
        "title": "ActionsShowResponseBody",
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/ActionResponseBody"
          }
        },
        "example": {
          "action": {
            "completed_at": "2021-08-17T13:28:57.801578Z",
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "Call the fire brigade",
            "external_issue_reference": {
              "issue_name": "INC-123",
              "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
              "provider": "linear"
            },
            "follow_up": true,
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "status": "outstanding",
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": [
          "action"
        ]
      },
      "ActorResponseBody": {
        "title": "ActorResponseBody",
        "type": "object",
        "properties": {
          "api_key": {
            "$ref": "#/components/schemas/APIKeyResponseBody"
          },
          "user": {
            "$ref": "#/components/schemas/UserResponseBody"
          }
        },
        "example": {
          "api_key": {
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "My test API key"
          },
          "user": {
            "email": "lisa@incident.io",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Lisa Karlin Curtis",
            "role": "viewer"
          }
        }
      },
      "CustomFieldEntryPayloadRequestBody": {
        "title": "CustomFieldEntryPayloadRequestBody",
        "type": "object",
        "properties": {
          "custom_field_id": {
            "type": "string",
            "description": "ID of the custom field this entry is linked against",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValuePayloadRequestBody"
            },
            "description": "List of values to associate with this entry",
            "example": [
              {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_text": "This is my text field, I hope you like it"
              },
              {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_text": "This is my text field, I hope you like it"
              }
            ]
          }
        },
        "example": {
          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "values": [
            {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_text": "This is my text field, I hope you like it"
            }
          ]
        },
        "required": [
          "custom_field_id",
          "values"
        ]
      },
      "CustomFieldEntryResponseBody": {
        "title": "CustomFieldEntryResponseBody",
        "type": "object",
        "properties": {
          "custom_field": {
            "$ref": "#/components/schemas/CustomFieldTypeInfoResponseBody"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValueResponseBody"
            },
            "description": "List of custom field values set on this entry",
            "example": [
              {
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option": {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                "value_text": "This is my text field, I hope you like it"
              },
              {
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option": {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                "value_text": "This is my text field, I hope you like it"
              }
            ]
          }
        },
        "example": {
          "custom_field": {
            "description": "Which team is impacted by this issue",
            "field_type": "single_select",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Affected Team",
            "options": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ]
          },
          "values": [
            {
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option": {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option": {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option": {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              "value_text": "This is my text field, I hope you like it"
            }
          ]
        },
        "required": [
          "custom_field",
          "values"
        ]
      },
      "CustomFieldOptionResponseBody": {
        "title": "CustomFieldOptionResponseBody",
        "type": "object",
        "properties": {
          "custom_field_id": {
            "type": "string",
            "description": "ID of the custom field this option belongs to",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field option",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "sort_key": {
            "type": "integer",
            "description": "Sort key used to order the custom field options correctly",
            "default": 1000,
            "example": 10,
            "format": "int64"
          },
          "value": {
            "type": "string",
            "description": "Human readable name for the custom field option",
            "example": "Product"
          }
        },
        "example": {
          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "sort_key": 10,
          "value": "Product"
        },
        "required": [
          "id",
          "custom_field_id",
          "value",
          "sort_key"
        ]
      },
      "CustomFieldOptionsCreateRequestBody": {
        "title": "CustomFieldOptionsCreateRequestBody",
        "type": "object",
        "properties": {
          "custom_field_id": {
            "type": "string",
            "description": "ID of the custom field this option belongs to",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "sort_key": {
            "type": "integer",
            "description": "Sort key used to order the custom field options correctly",
            "default": 1000,
            "example": 10,
            "format": "int64"
          },
          "value": {
            "type": "string",
            "description": "Human readable name for the custom field option",
            "example": "Product"
          }
        },
        "example": {
          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "sort_key": 10,
          "value": "Product"
        },
        "required": [
          "custom_field_id",
          "value"
        ]
      },
      "CustomFieldOptionsCreateResponseBody": {
        "title": "CustomFieldOptionsCreateResponseBody",
        "type": "object",
        "properties": {
          "custom_field_option": {
            "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
          }
        },
        "example": {
          "custom_field_option": {
            "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "sort_key": 10,
            "value": "Product"
          }
        },
        "required": [
          "custom_field_option"
        ]
      },
      "CustomFieldOptionsListResponseBody": {
        "title": "CustomFieldOptionsListResponseBody",
        "type": "object",
        "properties": {
          "custom_field_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
            },
            "example": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ]
          }
        },
        "example": {
          "custom_field_options": [
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            }
          ]
        },
        "required": [
          "custom_field_options"
        ]
      },
      "CustomFieldOptionsShowResponseBody": {
        "title": "CustomFieldOptionsShowResponseBody",
        "type": "object",
        "properties": {
          "custom_field_option": {
            "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
          }
        },
        "example": {
          "custom_field_option": {
            "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "sort_key": 10,
            "value": "Product"
          }
        },
        "required": [
          "custom_field_option"
        ]
      },
      "CustomFieldOptionsUpdateRequestBody": {
        "title": "CustomFieldOptionsUpdateRequestBody",
        "type": "object",
        "properties": {
          "sort_key": {
            "type": "integer",
            "description": "Sort key used to order the custom field options correctly",
            "default": 1000,
            "example": 10,
            "format": "int64"
          },
          "value": {
            "type": "string",
            "description": "Human readable name for the custom field option",
            "example": "Product"
          }
        },
        "example": {
          "sort_key": 10,
          "value": "Product"
        },
        "required": [
          "value",
          "custom_field_id",
          "sort_key"
        ]
      },
      "CustomFieldOptionsUpdateResponseBody": {
        "title": "CustomFieldOptionsUpdateResponseBody",
        "type": "object",
        "properties": {
          "custom_field_option": {
            "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
          }
        },
        "example": {
          "custom_field_option": {
            "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "sort_key": 10,
            "value": "Product"
          }
        },
        "required": [
          "custom_field_option"
        ]
      },
      "CustomFieldResponseBody": {
        "title": "CustomFieldResponseBody",
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "description": "When the action was created",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "Description of the custom field",
            "example": "Which team is impacted by this issue"
          },
          "field_type": {
            "type": "string",
            "description": "Type of custom field",
            "example": "single_select",
            "enum": [
              "single_select",
              "multi_select",
              "text",
              "link",
              "numeric"
            ]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the custom field",
            "example": "Affected Team",
            "maxLength": 50
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
            },
            "description": "What options are available for this custom field, if this field has options",
            "example": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ]
          },
          "required": {
            "type": "string",
            "description": "When this custom field must be set during the incident lifecycle.",
            "example": "never",
            "enum": [
              "never",
              "before_closure",
              "always"
            ]
          },
          "show_before_closure": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident close modal. If this custom field is required before closure, but no value has been set for it, the field will be shown in the closure modal whatever the value of this setting.",
            "example": true
          },
          "show_before_creation": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident creation modal. This must be true if the field is always required.",
            "example": true
          },
          "show_in_announcement_post": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the list of fields as part of the announcement post when set.",
            "example": true
          },
          "updated_at": {
            "type": "string",
            "description": "When the action was last updated",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          }
        },
        "example": {
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "Which team is impacted by this issue",
          "field_type": "single_select",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Affected Team",
          "options": [
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            }
          ],
          "required": "never",
          "show_before_closure": true,
          "show_before_creation": true,
          "show_in_announcement_post": true,
          "updated_at": "2021-08-17T13:28:57.801578Z"
        },
        "required": [
          "id",
          "name",
          "description",
          "field_type",
          "required",
          "show_before_creation",
          "show_before_closure",
          "options",
          "created_at",
          "updated_at"
        ]
      },
      "CustomFieldTypeInfoResponseBody": {
        "title": "CustomFieldTypeInfoResponseBody",
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the custom field",
            "example": "Which team is impacted by this issue"
          },
          "field_type": {
            "type": "string",
            "description": "Type of custom field",
            "example": "single_select",
            "enum": [
              "single_select",
              "multi_select",
              "text",
              "link",
              "numeric"
            ]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the custom field",
            "example": "Affected Team",
            "maxLength": 50
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
            },
            "description": "What options are available for this custom field, if this field has options",
            "example": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ]
          }
        },
        "example": {
          "description": "Which team is impacted by this issue",
          "field_type": "single_select",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Affected Team",
          "options": [
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            }
          ]
        },
        "required": [
          "id",
          "organisation_id",
          "name",
          "description",
          "field_type",
          "required",
          "show_before_creation",
          "show_before_closure",
          "options",
          "conditions",
          "created_at",
          "updated_at"
        ]
      },
      "CustomFieldValuePayloadRequestBody": {
        "title": "CustomFieldValuePayloadRequestBody",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field value",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "value_link": {
            "type": "string",
            "description": "Link value",
            "example": "https://google.com/"
          },
          "value_numeric": {
            "type": "string",
            "description": "Numeric value",
            "example": "123.456"
          },
          "value_option_id": {
            "type": "string",
            "description": "ID of the custom field option",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "value_text": {
            "type": "string",
            "description": "Text value",
            "example": "This is my text field, I hope you like it"
          }
        },
        "example": {
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "value_link": "https://google.com/",
          "value_numeric": "123.456",
          "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "value_text": "This is my text field, I hope you like it"
        }
      },
      "CustomFieldValueResponseBody": {
        "title": "CustomFieldValueResponseBody",
        "type": "object",
        "properties": {
          "value_link": {
            "type": "string",
            "description": "Link value",
            "example": "https://google.com/"
          },
          "value_numeric": {
            "type": "string",
            "description": "Numeric value",
            "example": "123.456"
          },
          "value_option": {
            "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
          },
          "value_text": {
            "type": "string",
            "description": "Text value",
            "example": "This is my text field, I hope you like it"
          }
        },
        "example": {
          "value_link": "https://google.com/",
          "value_numeric": "123.456",
          "value_option": {
            "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "sort_key": 10,
            "value": "Product"
          },
          "value_text": "This is my text field, I hope you like it"
        }
      },
      "CustomFieldsCreateRequestBody": {
        "title": "CustomFieldsCreateRequestBody",
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the custom field",
            "example": "Which team is impacted by this issue"
          },
          "field_type": {
            "type": "string",
            "description": "Type of custom field",
            "example": "single_select",
            "enum": [
              "single_select",
              "multi_select",
              "text",
              "link",
              "numeric"
            ]
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the custom field",
            "example": "Affected Team",
            "maxLength": 50
          },
          "required": {
            "type": "string",
            "description": "When this custom field must be set during the incident lifecycle.",
            "example": "never",
            "enum": [
              "never",
              "before_closure",
              "always"
            ]
          },
          "show_before_closure": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident close modal. If this custom field is required before closure, but no value has been set for it, the field will be shown in the closure modal whatever the value of this setting.",
            "example": true
          },
          "show_before_creation": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident creation modal. This must be true if the field is always required.",
            "example": true
          },
          "show_in_announcement_post": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the list of fields as part of the announcement post when set.",
            "example": true
          }
        },
        "example": {
          "description": "Which team is impacted by this issue",
          "field_type": "single_select",
          "name": "Affected Team",
          "required": "never",
          "show_before_closure": true,
          "show_before_creation": true,
          "show_in_announcement_post": true
        },
        "required": [
          "id",
          "name",
          "description",
          "field_type",
          "required",
          "show_before_creation",
          "show_before_closure",
          "options",
          "created_at",
          "updated_at"
        ]
      },
      "CustomFieldsCreateResponseBody": {
        "title": "CustomFieldsCreateResponseBody",
        "type": "object",
        "properties": {
          "custom_field": {
            "$ref": "#/components/schemas/CustomFieldResponseBody"
          }
        },
        "example": {
          "custom_field": {
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "Which team is impacted by this issue",
            "field_type": "single_select",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Affected Team",
            "options": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ],
            "required": "never",
            "show_before_closure": true,
            "show_before_creation": true,
            "show_in_announcement_post": true,
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": [
          "custom_field"
        ]
      },
      "CustomFieldsListResponseBody": {
        "title": "CustomFieldsListResponseBody",
        "type": "object",
        "properties": {
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldResponseBody"
            },
            "example": [
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ],
                "required": "never",
                "show_before_closure": true,
                "show_before_creation": true,
                "show_in_announcement_post": true,
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ],
                "required": "never",
                "show_before_closure": true,
                "show_before_creation": true,
                "show_in_announcement_post": true,
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ],
                "required": "never",
                "show_before_closure": true,
                "show_before_creation": true,
                "show_in_announcement_post": true,
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            ]
          }
        },
        "example": {
          "custom_fields": [
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Which team is impacted by this issue",
              "field_type": "single_select",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Affected Team",
              "options": [
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                }
              ],
              "required": "never",
              "show_before_closure": true,
              "show_before_creation": true,
              "show_in_announcement_post": true,
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Which team is impacted by this issue",
              "field_type": "single_select",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Affected Team",
              "options": [
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                }
              ],
              "required": "never",
              "show_before_closure": true,
              "show_before_creation": true,
              "show_in_announcement_post": true,
              "updated_at": "2021-08-17T13:28:57.801578Z"
            }
          ]
        },
        "required": [
          "custom_fields"
        ]
      },
      "CustomFieldsShowResponseBody": {
        "title": "CustomFieldsShowResponseBody",
        "type": "object",
        "properties": {
          "custom_field": {
            "$ref": "#/components/schemas/CustomFieldResponseBody"
          }
        },
        "example": {
          "custom_field": {
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "Which team is impacted by this issue",
            "field_type": "single_select",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Affected Team",
            "options": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ],
            "required": "never",
            "show_before_closure": true,
            "show_before_creation": true,
            "show_in_announcement_post": true,
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": [
          "custom_field"
        ]
      },
      "CustomFieldsUpdateRequestBody": {
        "title": "CustomFieldsUpdateRequestBody",
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the custom field",
            "example": "Which team is impacted by this issue"
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the custom field",
            "example": "Affected Team",
            "maxLength": 50
          },
          "required": {
            "type": "string",
            "description": "When this custom field must be set during the incident lifecycle.",
            "example": "never",
            "enum": [
              "never",
              "before_closure",
              "always"
            ]
          },
          "show_before_closure": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident close modal. If this custom field is required before closure, but no value has been set for it, the field will be shown in the closure modal whatever the value of this setting.",
            "example": true
          },
          "show_before_creation": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident creation modal. This must be true if the field is always required.",
            "example": true
          },
          "show_in_announcement_post": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the list of fields as part of the announcement post when set.",
            "example": true
          }
        },
        "example": {
          "description": "Which team is impacted by this issue",
          "name": "Affected Team",
          "required": "never",
          "show_before_closure": true,
          "show_before_creation": true,
          "show_in_announcement_post": true
        },
        "required": [
          "name",
          "description",
          "field_type",
          "required",
          "show_before_creation",
          "show_before_closure",
          "options",
          "created_at",
          "updated_at"
        ]
      },
      "CustomFieldsUpdateResponseBody": {
        "title": "CustomFieldsUpdateResponseBody",
        "type": "object",
        "properties": {
          "custom_field": {
            "$ref": "#/components/schemas/CustomFieldResponseBody"
          }
        },
        "example": {
          "custom_field": {
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "Which team is impacted by this issue",
            "field_type": "single_select",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Affected Team",
            "options": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ],
            "required": "never",
            "show_before_closure": true,
            "show_before_creation": true,
            "show_in_announcement_post": true,
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": [
          "custom_field"
        ]
      },
      "ExternalIssueReferenceResponseBody": {
        "title": "ExternalIssueReferenceResponseBody",
        "type": "object",
        "properties": {
          "issue_name": {
            "type": "string",
            "description": "Human readable ID for the issue",
            "example": "INC-123"
          },
          "issue_permalink": {
            "type": "string",
            "description": "URL linking directly to the action in the issue tracker",
            "example": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up"
          },
          "provider": {
            "type": "string",
            "description": "ID of the issue tracker provider",
            "example": "linear",
            "enum": [
              "linear",
              "jira",
              "jira_server",
              "github",
              "clubhouse"
            ]
          }
        },
        "example": {
          "issue_name": "INC-123",
          "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
          "provider": "linear"
        },
        "required": [
          "provider",
          "issue_name",
          "issue_permalink"
        ]
      },
      "IncidentResponseBody": {
        "title": "IncidentResponseBody",
        "type": "object",
        "properties": {
          "call_url": {
            "type": "string",
            "description": "The call URL attached to this incident",
            "example": "https://zoom.us/foo"
          },
          "created_at": {
            "type": "string",
            "description": "When the incident was created",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "creator": {
            "$ref": "#/components/schemas/ActorResponseBody"
          },
          "custom_field_entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldEntryResponseBody"
            },
            "description": "Custom field entries for this incident",
            "example": [
              {
                "custom_field": {
                  "description": "Which team is impacted by this issue",
                  "field_type": "single_select",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "name": "Affected Team",
                  "options": [
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    }
                  ]
                },
                "values": [
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  }
                ]
              },
              {
                "custom_field": {
                  "description": "Which team is impacted by this issue",
                  "field_type": "single_select",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "name": "Affected Team",
                  "options": [
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    }
                  ]
[...]
